In [1]:
#import

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# where did you get your data from 

data_df=pd.read_csv("SpotifyTopSongsByCountry - May 2020.csv")

In [4]:
data_df.head(1000)

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),0,3:02
1,Global,Global,2,Blinding Lights,The Weeknd,After Hours,0,3:20
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",BLAME IT ON BABY,1,3:01
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",Roses (Imanbek Remix),1,2:56
4,Global,Global,5,Toosie Slide,Drake,Dark Lane Demo Tapes,1,4:07
...,...,...,...,...,...,...,...,...
995,France,Europe,46,Fait d'or,Jul,Fait d'or,1,5:15
996,France,Europe,47,So Maness,Soso Maness,So Maness,1,2:39
997,France,Europe,48,Sunday Best,Surfaces,Where the Light Is,0,2:38
998,France,Europe,49,Anissa,Wejdene,Anissa,0,2:55
999,France,Europe,50,Djomb,Bosh,Synkinisi,1,2:21

In [5]:
# How did you clean the data 

clean_df = data_df.dropna(axis= 'rows')
clean_df = clean_df.loc[clean_df['Country'] != 'unknown']
clean_df = clean_df.loc[clean_df['Continent'] != 'unknown']
clean_df = clean_df.loc[clean_df['Rank'] != 'unknown']
clean_df = clean_df.loc[clean_df['Title'] != 'unknown']
clean_df = clean_df.loc[clean_df['Artists'] != 'unknown']
clean_df = clean_df.loc[clean_df['Album'] != 'unknown']
clean_df = clean_df.loc[clean_df['Explicit'] != 'unknown']
clean_df = clean_df.loc[clean_df['Duration'] != 'unknown']


clean_df.count()

Country      3150
Continent    3150
Rank         3150
Title        3150
Artists      3150
Album        3150
Explicit     3150
Duration     3150
dtype: int64

In [6]:

# Where can I identify the  new clean data 

clean_df.head()

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),0,3:02
1,Global,Global,2,Blinding Lights,The Weeknd,After Hours,0,3:20
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",BLAME IT ON BABY,1,3:01
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",Roses (Imanbek Remix),1,2:56
4,Global,Global,5,Toosie Slide,Drake,Dark Lane Demo Tapes,1,4:07

In [7]:
from sqlalchemy import create_engine

In [16]:
#narrow to display just European data

one_continent = clean_df.loc[clean_df['Continent'] == 'Europe']


one_continent.columns = one_continent.columns.str.lower()
one_continent = one_continent[['country', 'continent', 'rank', 'artists', 'album']]

In [18]:
#SQLite upload code 

engine = create_engine("sqlite:///Country.sqlite")
one_continent.to_sql(name="country_Europe", con=engine, if_exists="append", index=False)
pd.read_sql_query("select * from country_Europe", con=engine).head()

     id  country continent  rank              artists                  album
0  None  Austria    Europe     1             Bonez MC             Roadrunner
1  None  Austria    Europe     2          Capital Bra              Komm Komm
2  None  Austria    Europe     3  DaBaby, Roddy Ricch       BLAME IT ON BABY
3  None  Austria    Europe     4   SAINt JHN, Imanbek  Roses (Imanbek Remix)
4  None  Austria    Europe     5              6ix9ine                  GOOBA

In [30]:
# What countries are included in data  

unique_countries=data_df['Country'].unique()
unique_countries=unique_countries[unique_countries!='Global']
unique_countries

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia',
       'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica',
       'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Singapore', 'Slovakia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'United Kingdom',
       'United States', 'Uruguay', 'Vietnam'], dtype=object)

In [36]:
# what continents are included ?

clean_df['Continent']

continent_count=(clean_df['Continent'].value_counts()/50)
continent_count=continent_count.drop('Global')

continent_count

Europe           29.0
Asia             11.0
North America    10.0
South America     9.0
Australia         2.0
Africa            1.0
Name: Continent, dtype: float64

In [44]:
#Globally what is the most played music  

most_played=clean_df['Title'].value_counts()[:50].sort_values(ascending=False)  
most_played

Rain On Me (with Ariana Grande)                         60
Blinding Lights                                         60
death bed (coffee for your head) (feat. beabadoobee)    53
Dance Monkey                                            53
Don't Start Now                                         52
Roses - Imanbek Remix                                   45
Toosie Slide                                            43
Stuck with U (with Justin Bieber)                       39
THE SCOTTS                                              36
ily (i love you baby) (feat. Emilee)                    35
ROCKSTAR (feat. Roddy Ricch)                            35
Break My Heart                                          35
Supalonely                                              33
Blueberry Faygo                                         32
GOOBA                                                   32
The Box                                                 31
Falling                                                 30
Intentions (feat. Quavo)                                27
In Your Eyes                                            27
Breaking Me                                             26
Be Kind (with Halsey)                                   25
Say So                                                  24
Someone You Loved                                       24
Tusa                                                    24
ROXANNE                                                 23
goosebumps                                              23
Boss Bitch                                              23
Sunday Best                                             23
Circles                                                 22
La Difícil                                              20
Life Is Good (feat. Drake)                              20
HIGHEST IN THE ROOM                                     19
WHATS POPPIN                                            19
Say So (feat. Nicki Minaj)                              19
Watermelon Sugar                                        19
Rojo                                                    18
Safaera                                                 18
Yo Perreo Sola                                          18
Party Girl                                              18
SICKO MODE                                              18
Favorito                                                18
Diosa                                                   17
Elegí (feat. Dímelo Flow)                               17
Tattoo                                                  17
BYE ME FUI                                              17
Before You Go                                           17
Hola - Remix                                            16
Ignorantes                                              16
Daechwita                                               16
Amarillo                                                16
Name: Title, dtype: int64

In [47]:
#What is the most played artist (ask Bill how to change to just the top ones )

most_played_artist=clean_df['Artists'].value_counts()[:5000].sort_values(ascending=False)  
most_played_artist

Dua Lipa                       97
Bad Bunny                      97
The Weeknd                     87
J Balvin                       70
Lady Gaga, Ariana Grande       60
                               ..
Adamlar                         1
Perdenin Ardındakiler           1
Heijan, Muti                    1
Murda, Zeynep Bastık, Idaly     1
Bich Phuong                     1
Name: Artists, Length: 912, dtype: int64

In [48]:
#narrow to display just European data

one_continent = continent_df.loc[continent_df['Continent'] == 'Europe']

NameError: name 'continent_df' is not defined